<div class="ui grid text container" style="margin-top: 50px">
    <div class=" wide column">
        <div class="ui segment">
            <div class="ui minimal comments">
                <h3 class="ui dividing header">留言</h3>

                <% comments.forEach(function (comment) { %>
                <div class="comment-list">
                    <div class="comment">
                    <span class="avatar">
                      <img src="/img/<%= comment.author.avatar %>">
                    </span>
                        <span class="reply-btn">回复</span>
                        <div class="content">
                            <a class="author" href="/article?author=<%= comment.author._id %>"><%= comment.author.name %></a>
                            <div class="metadata">
                                <span class="date"><%= comment.time %></span>
                            </div>
                            <div class="text"><%- comment.content %></div>
                        </div>
                    </div>
                    <% if(comment.comments.length > 0){ %>
                    <div class="comment sub-comment">
                        <div class="content sub-comment-content">
                            <a class="author" href="/article?author=<%= comment.author._id %>"><%= comment.author.name %></a>
                            @
                            <a class="author" href="/article?author=<%= comment.author._id %>"><%= comment.author.name %></a>
                            <div class="metadata">
                                <span class="date"><%= comment.time %></span>
                            </div>
                            <div class="text"><%- comment.content %></div>
                        </div>
                    </div>
                    <% } %>

                    <!--回复begin-->
                    <form class="ui form mb-30" method="post" action="/comment/<%= comment.id %>"  enctype="multipart/form-data">
                        <input name="to" value="<%= comment.author._id %>" hidden>
                        <div class="field">
                            <textarea name="content" rows="3"></textarea>
                        </div>
                        <input type="submit" class="ui icon button" value="回复" />
                    </form>
                    <!--回复end-->
                </div>

                <% }) %>


                <% if (user) { %>
                <form class="ui reply form" method="post" action="/comment"  enctype="multipart/form-data">
                    <input name="articleId" value="<%= detail.id %>" hidden>
                    <div class="field">
                        <textarea name="content"></textarea>
                    </div>
                    <input type="submit" class="ui icon button" value="留言" />
                </form>
                <% } %>

            </div>
        </div>
    </div>
</div>